
.font-dongle{
  font-family: 'Dongle', sans-serif;
}

.font-open-sans{
  font-family: 'Open Sans', sans-serif;
}
.font-roboto{
  font-family: 'Roboto', sans-serif;
}
.font-noto{
  font-family: 'Noto Sans', sans-serif;
}
.font-lato{
  font-family: 'Lato', sans-serif;
}